
{% extends "base.html" %}
{% block page_title %}Learning record viewer{% endblock %}

{% block body_content %}
<main id="content" role="main">
  
  <div class="nav-strip ta-right">
    <ul>
      <li>Welcome back {{ user.fullname}} |</li>
      <li><a href="#">Profile</a> |</li>
      <li><a href="#">Record</a> |</li>
      <li><a href="#">PDP</a> |</li>
      <li><a href="/users">Sign out</a></li>
    </ul>
  </div>

  <a href="{{ url_for('frontend.userHistory', username= user.username) }}" class="link-back">back to history</a>

  <header class="header-group">
    <h1 class="sub-heading"><i class="fa fa-laptop"></i><span> {{ record.verb.name }}</span></h1>
    <h2 class="heading-xlarge post-sub-heading"> 
      {% if 'www.youtube' in record.object.id %}
        YouTube video
      {% else %}
        {{ record.object.name }}
      {% endif %}
      </h2>
  </header>


  <div class="grid-row course__description">
    <div class="column-two-thirds">

      <div class="text course__description__content">

        {% if 'www.youtube' in record.object.id %}
          <h3 class="heading-large">Youtube content</h3>
          <iframe width="640" height="480" src="{{ record.object.id|replace('watch?v=', 'embed/') }}"></iframe>
        {% endif %}
        
        {% if details %}
          <h3 class="heading-large">Learning plan todo</h3>
          
          <table>
            <thead>
            </thead>

            <tbody>
              {% for learningItem in details %}
              <tr>
                <td><a href="{{ learningItem.statement.object.object.id }}" target="_blank">{{ learningItem.statement.object.object.definition.name["en-US"] }}</a></td>
                <td>{{ learningItem.statement.object.verb.display["en-US"] }}</td>
              </tr>
              {% endfor %}

            </tbody>
          </table>
        {% else %}
          <h3 class="heading-large">Description</h3>
          <p>Please visit {{ record.verb.name }} <a href="{{ record.object.id }}">{{ record.object.name }}</a>
        {% endif %}



      </div>
    </div>

    <div class="column-third">
      {% if record.result %}
      <div class="summary-box">
        <h4 class="heading-small summary-box__heading">Status</h4>
        <table class="key-info-table">
          <tbody>
            {% if record.result.score %}       
              <tr>
                <td>Score</td>
                <td>{{ record.result.score.raw}}</td>
              </tr>
              {% if record.result.score.max %}
                <tr>
                  <td>Percentage</td>
                  <td>{{ ((record.result.score.raw / record.result.score.max) * 100 ) | round }}%</td>
                </tr>
                <tr>
                  <td>Max</td>
                  <td>{{ record.result.score.max }}</td>
                </tr>
              {% endif %}
            {% endif %}
            <tr>
              <td>Duration</td>
              <td>{{ record.result.duration }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      {% endif %}
    </div>

    

  </div>
</main>



{% endblock %}

